<!DOCTYPE html>
<html ng-app="poddclubApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Podd.club</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="CategoryListCtrl">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Podd.club</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="#">Dashboard</a></li> -->
            <!-- <li><a href="#">Settings</a></li> -->
            <!-- <li><a href="#">Profile</a></li> -->
            <!-- <li><a href="#">Help</a></li> -->
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">

            <li ng-repeat="category in categories">
		          <a href="" ng-click="changeCurrentCategory(category.name)">{{category.name}} ({{category.podcastCount}})</a>
		        </li>
		    
            <li>
              <div class="input-group">

                  <div class="input-group">
                    <input type="text" class="form-control" name="newCategory" ng-model="newCategory" required >
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-disabled="addCategoryForm.$invalid" ng-click="addCategory()">Go!</button>
                    </span>
                  </div>

              </div><!-- /input-group -->
            </li>
          </ul>          
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{ currentCategory }}</h1>

          <button type="button" class="btn btn-default">+</button>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Podcast #</th>
                  <th>Name</th>
                  <th>Author</th>
                  <th>Length</th>
                  <th>URL</th>
                </tr>
              </thead>
              <tbody ng-repeat="category in categories | filter: {name:currentCategory}">
                <tr ng-repeat="podcast in category.podcasts">
                  <td>{{ podcast.episodeNumber }}</td>
                  <td>{{ podcast.name }}</td>
                  <td>{{ podcast.author }}</td>
                  <td>{{ podcast.length }}</td>
                  <td>{{ podcast.url }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/controllers.js"></script>
  </body>
</html>
