<!DOCTYPE html>
<html ng-app="poddclubApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">

    <link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <title>Podd.club</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>


  <body ng-controller="CategoryListCtrl">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Podd.club</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="#">Dashboard</a></li> -->
            <!-- <li><a href="#">Settings</a></li> -->
            <!-- <li><a href="#">Profile</a></li> -->
            <!-- <li><a href="#">Help</a></li> -->
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" ng-model="searchText" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">

            <li ng-repeat="category in categories">
              <a href="" ng-click="setCurrentCategory(category)">{{category.name}}</a>
            </li>
            <li>
              <a href="">
                <div class="input-group">
                  <input type="text" class="form-control" name="newCategory" ng-model="newCategory">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="addCategory()">Add</button>
                  </span>
                </div>
              </a>
            </li>
          </ul>          
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h3 class="page-header">
              {{currentCategory.name}}
              <a href="{{rssLink(currentCategory)}}"><span style="color: orange" class="fa fa-rss"></span></a>
            </h3>

          <div class="form form-inline">
            <div class="form-group">
              <input type="text" size="80" class="form-control" ng-model="newPodcastUrl" placeholder="YouTube URL to download" />
            </div>
            <div class="form-group">
              <button class="btn btn-mini btn-primary" ng-click="scheduleDownload(1, currentCategory.id, newPodcastUrl)">
                Schedule Download
              </button>
            </div>
          </div>

          <!-- Button trigger modal -->
          <!-- <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> -->
          <!--   Add Podcast -->
          <!-- </button> -->

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">Add podcast</h4>
                </div>

                  <div class="modal-body">

                    <!-- <div class="form-group"> -->
                    <!--   <b>Name:</b> -->
                    <!--   <input type="text" class="form-control" name="newPodcastName" ng-model="newPodcastName" required /> -->
                    <!-- </div> -->
                    <!-- <div class="form-group"> -->
                    <!--   <b>Author:</b> -->
                    <!--   <input type="text" class="form-control" name="newPodcastAuthor" ng-model="newPodcastAuthor" required /> -->
                    <!-- </div> -->
                    <div class="form-group">
                      <b>Url:</b>
                      <input type="text" class="form-control" name="newPodcastUrl" ng-model="newPodcastUrl" required />
                    </div>
                      <!--Put textboxes here-->

                  </div>
                  <div class="modal-footer">
                    <!--Put submit and cancel buttons here-->
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" ng-click="scheduleDownload(1, currentCategory.id, newPodcastUrl)" class="btn btn-primary" data-dismiss="modal">Schedule Download</button>
                  </div>
                </form>

              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Podcast #</th>
                  <th>Name</th>
                  <th>Duration</th>
                  <th>Download</th>
                </tr>
              </thead>
              <tr ng-repeat="podcast in podcasts">
                <td>{{ podcast.id }}</td>
                <td>{{ podcast.title }}</td>
                <!-- <td>{{ podcast.author }}</td> -->
                <td>{{ formatDuration(podcast.duration) }}</td>
                <!-- <td>{{ podcast.url }}</td> -->
                <td>
                    <a class="button" href="/api/podcasts/{{podcast.id}}/download" target="blank_">
                        <span class="fa-2x glyphicon glyphicon-download" title="Download"></span>
                    </a>
                </td>
              </tr>
              <!-- <tr> -->
              <!--     <td> -->
              <!--         <div> -->
              <!--             Audio here: -->
              <!--             <audio controls> -->
              <!--             <source src="/api/podcasts/2001/download" type="audio/mpeg"> -->
              <!--             Your browser does not support the audio element. -->
              <!--             </audio>  -->
              <!--         </div> -->
              <!--     </td>  -->
              <!-- </tr> -->
            </table>
          </div>
        </div>
      </div>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/controllers.js"></script>
  </body>
</html>
